POSTGRES_USER=postgres
POSTGRES_PASSWORD=54321
POSTGRES_DB=codemeet_db

# Commit this line for production mode
DATASOURCE_URL=jdbc:postgresql://database:5432/codemeet_db

# Datasource url for developer mode
DATASOURCE_URL=jdbc:postgresql://database:5432/codemeet_db

# Paste your JWT here
# Generate a private key with: openssl rand -base64 48
JWT_SECRET=
JWT_EXPIRATION=86400000
